<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Dropdown link
      </a>
      <div class="dropdown-menu">
        <div class="dropdown-item">
          <a href="#" (click)="open('HeroesComponent')" >Hero</a>
          <a href="#" (click)="openNewTab('HeroesComponent')"><fa-icon [icon]="['fas', 'external-link-alt']"></fa-icon></a>
        </div>
        <div class="dropdown-item">
          <a href="#" (click)="open('EnemiesComponent')">Enemy</a>
          <a href="#" (click)="openNewTab('EnemiesComponent')">
            <fa-icon [icon]="['fas', 'external-link-alt']"></fa-icon>
          </a>
        </div>

      </div>
    </li>
  </ul>
</nav>
