<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Dropdown link
      </a>
      <div class="dropdown-menu">
        <div class="dropdown-item">
          <a href="#" >Link 1</a>
          <a href="#" ><fa-icon [icon]="['fas', 'external-link-alt']"></fa-icon></a>
        </div>
        <a class="dropdown-item" href="#">Link 2</a>
        <a class="dropdown-item" href="#">Link 3</a>

      </div>
    </li>
  </ul>
</nav>
