<app-header-menu (menuItemSelected)="menuItemSelectd($event)"></app-header-menu>
<app-tabs>
  <app-tab [title]="'TAB'">
    <h3>TAB</h3>
  </app-tab>
</app-tabs>


<hr />
<!--
<kendo-tabstrip [keepTabContent]="true" [animate]="false">
  <kendo-tabstrip-tab *ngFor="let item of items let i=index" [title]="item.label" [selected]="i == selected">
    <ng-template kendoTabContent>

      <ng-container *ngComponentOutlet="item.component"></ng-container>

    </ng-template>
  </kendo-tabstrip-tab>
</kendo-tabstrip>
-->
<!--
<span (click)="addTab()">+</span>
-->
<app-messages></app-messages>
